@media screen and (min-width:1921px) {
	.main-header {
		border-radius: 0 0 20px 20px;
	}
}

@media screen and (max-width:1440px) {
	p {
		font-size: 12px;
	}
}

@media screen and (max-width:1240px) {
	main {
		grid-template-columns: 290px minmax(170px, 1fr) minmax(170px, 1fr) 300px;
		grid-template-rows: auto 500px auto auto;
	}

	.parameters {
		max-height: 1500px;
	}

	.preview {
		grid-column: 2 / -1;
		grid-row: 2;
		margin-right: 20px;
	}

	.legend {
		grid-column: 2 / 4;
		grid-row: 3;
		margin-bottom: 0;
	}

	.description {
		grid-column: 2 / 4;
		grid-row: 4;
	}

	.css-box {
		grid-column-end: -1;
		grid-row: 3 / -1;
	}
}

@media screen and (max-width:1024px) {
	main {
		grid-template-columns: 290px minmax(400px, 1fr);
		grid-template-rows: auto 510px auto auto auto;
		height: auto;
	}

	.legend {
		grid-column: 2 / -1;
		grid-row: 3;
		margin-bottom: 0;
		margin-right: 20px;
	}

	.description {
		grid-column: 2 / -1;
		grid-row: 4;
		margin-bottom: 0;
		margin-right: 20px;
	}

	.css-box {
		grid-column: 2 /-1;
		grid-row: 5;
		width: 100%;
		max-height: 600px;
		margin-right: 20px;
		width: auto;
		justify-self: stretch;
	}
}

@media screen and (max-width:768px) {
	*::-webkit-scrollbar-track {
		border-radius: 0;
	}

	*::-webkit-scrollbar-thumb {
		border-radius: 0;
	}

	html.overflow-hidden {
		overflow-y: hidden;
	}

	input,
	select {
		height: 30px;
		font-size: 16px;
		padding-right: 5px;
	}

	main {
		grid-template-columns: auto;
		-moz-column-gap: 0;
		     column-gap: 0;
	}

	section,
	article {
		border-radius: 0;
		border: 0;
		border-top: 1px solid #d5d5d5;
		border-bottom: 1px solid #d5d5d5;
	}

	.main-header {
		padding: 0 0 0 15px;
	}

	.top-menu {
		width: 65px;
		height: 50px;
		padding: 0 !important;
		cursor: pointer;
		display: block;
	}

	.menu {
		top: 23px;
		bottom: 0;
		right: 13px;
		width: 35px;
	}

	.menu,
	.menu::after,
	.menu::before {
		content: ' ';
		position: absolute;
		right: 17px;
		border-radius: 2px;
		width: 35px;
		height: 5px;
		background-color: #fff;
		transition: all .2s ease-in-out;
	}

	.menu::before {
		top: -10px;
		right: 0;
	}

	.menu::after {
		bottom: -10px;
		right: 0;
	}

	.top-menu.open .menu {
		width: 0%;
		right: 28px;
	}

	.top-menu.open .menu::before {
		top: 0px;
		right: -12px;
		transform: rotate(45deg);
	}

	.top-menu.open .menu::after {
		bottom: 0px;
		right: -12px;
		transform: rotate(-45deg);
	}

	.contacts {
		margin-right: 3px !important;
	}

	.contacts.github {
		margin-right: 5px !important;
	}

	.contacts a {
		width: 50px;
		height: 50px;
		padding-left: 51px;
	}

	.contacts a::before {
		width: 32px;
		height: 32px;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
	}

	.contacts a::after {
		display: none;
	}

	.parameters {
		grid-column: none;
		grid-row: none;
		top: 50px;
		right: -280px;
		z-index: 100;
		max-height: none;
		height: 100%;
		position: absolute;
		background-color: #fff;
		border: 1px solid #d5d5d5;
		transition: right .3s ease-in-out, visibility 0s ease-in-out .3s;
		visibility: hidden;
	}

	.parameters.open {
		right: 0;
		visibility: visible;
		transition: right .3s ease-in-out, visibility 0s ease-in-out 0s;
	}

	.element {
		align-self: center;
	}

	.button-background.add {
		right: 7px;
		top: -24px;
		width: 33px;
		height: 30px;
	}

	.button-element.add {
		top: 3px;
		width: 25px;
		height: 25px;
	}

	.button-element.add::before {
		font-size: 26px;
	}

	.pad {
		border-radius: 0;
		border: 0;
	}

	.preview,
	.legend,
	.css-box {
		margin: 0;
	}

	.preview {
		grid-column: 1;
		grid-row: 2;
	}

	.preview-box {
		min-width: 240px;
	}

	.legend {
		grid-column: 1;
		grid-row: 3;
	}

	.description {
		grid-column: 1;
		grid-row: 4;
		margin-right: 0;
	}

	.css-box {
		grid-column: 1;
		grid-row: 5;
		max-height: none;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		z-index: 10;
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s ease-in-out, visibility 0s ease-in-out .3s;
	}

	.overlay.open {
		opacity: 0.7;
		visibility: visible;
		transition: opacity .3s ease-in-out, visibility 0s ease-in-out 0s;
	}
}

@media screen and (max-width:425px) {
	.main-title>span:last-child {
		visibility: hidden;
		width: 0px;
	}
}