{
  "extends": "stylelint-config-htmlacademy",

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, { "ignore": ["inside-parens"] }],
    "max-nesting-depth": [
      4,
      {
        "ignore": ["pseudo-classes", "blockless-at-rules"],
        "ignoreAtRules": ["/^vp-/"]
      }
    ],
    "function-no-unknown": null,
    "at-rule-empty-line-before": [
      "always",
      {
        "except": ["blockless-after-blockless"],
        "ignore": ["after-comment", "inside-block"]
      }
    ]
  }
}
