* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scrollbar-width: thin;
	scrollbar-color: #cce8db #028e4a;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

*::-webkit-scrollbar-track {
	background: #028e4a;
	border-radius: 0 5px 5px 0;
}

*::-webkit-scrollbar-thumb {
	background-color: #cce8db;
	border-radius: 4px;
	border: 2px solid #028e4a;
}

html {
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
}

body {
	background-color: #f8f8f8;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}

input,
select {
	height: 22px;
}

input:focus,
button:focus,
select:focus {
	outline: none;
}

fieldset {
	padding: 5px 10px 10px 10px;
	border-radius: 5px;
	position: relative;
}

fieldset:not(:last-child) {
	margin-bottom: 10px;
}

h1 {
	font-size: 22px;
	line-height: 28px;
	font-family: Tahoma, Geneva, sans-serif;
}

legend {
	font-weight: bold;
	padding: 0 5px;
}

main {
	display: grid;
	grid-template-columns: 290px minmax(300px, 1fr) 300px;
	grid-template-rows: auto 1fr 150px;
	gap: 20px;
	height: 100vh;
	padding-bottom: 20px;
}

section {
	background-color: #fff;
	padding: 5px 10px 10px 10px;
	border-radius: 5px;
	border: 1px solid #d5d5d5;
}

section.parameters {
	background: none;
	border: 0;
	padding: 0;
	border-radius: 0;
}

.pad {
	background-color: #fff;
	padding: 5px 10px 10px 10px;
	border: 1px solid #d5d5d5;
	border-radius: 5px;
}

.main-header {
	grid-column: 1 / 4;
	grid-row-start: 1;
	background-color: #028e4a;
	color: white;
	padding: 10px;
	text-align: center;
	height: 50px;
}

.parameters {
	width: 272px;
	overflow-y: auto;
	overflow-x: hidden;
	box-sizing: content-box;
	justify-self: end;
	grid-row: 2 / 4;
	grid-column-start: 1;
}

.preview {
	grid-column-start: 2;
	grid-row-start: 2;
}

.legend {
	grid-column-start: 2;
	grid-row-start: 3;
}

.css-styles {
	grid-column-start: 3;
	grid-row: 2 / 4;
	justify-self: left;
	width: 280px;
	font-family: 'Courier New', Courier, monospace;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	padding-top: 5px;
	padding-bottom: 8px;
}

.item:nth-of-type(-n + 2) .button-background,
.item:not(:nth-last-of-type(1)) .button-background {
	display: none;
}

.main-fieldset {
	width: 250px;
}

.box-parent .number {
	flex-basis: 116px;
	max-width: 116px;
}

.label-title {
	flex-basis: 105px;
	flex-grow: 1;
}

.elements .label-title {
	flex-basis: 80px;
}

.elements .number {
	flex-basis: 90px;
	max-width: 90px;
}

.input-parent {
	flex-basis: 100px;
	flex-grow: 3;
}

.elements,
.elements .item:not(:first-of-type) {
	margin-top: 15px;
}

.elements .item .element:nth-last-of-type(-n + 1) {
	margin-bottom: 10px;
}

.element {
	margin: 2px 0;
}

.number {
	padding-left: 5px;
	text-align: right;
}

.button-background {
	position: absolute;
	right: 7px;
	top: -19px;
	width: 30px;
	height: 20px;
	background-color: white;
}

.button-element {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	background-color: #028e4a;
	border: 0;
	border-radius: 50%;
	color: white;
	transition: background-color .2s linear;
	cursor: pointer;
	width: 20px;
	height: 20px;
	margin: auto;
}

.button-element::before {
	position: absolute;
	right: 0;
	top: 0;
	font-weight: 700;
}

.button-element.add::before {
	content: "+";
	font-size: 20px;
	line-height: 1;
	left: 0;
}

.button-element.remove::before {
	content: "-";
	font-size: 30px;
	line-height: 15px;
	left: -1px;
}

.button-element:hover {
	background-color: #02773e;
}

.button-element[disabled] {
	background-color: #6c6c6c;
	cursor: not-allowed;
}

.result-box {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.result-item.general {
	display: block;
	margin: 10px 0 13px 3px;
}

.result-item {
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 40px;
	font-size: 13px;
}

.result-item output {
	font-weight: normal;
	font-size: 0.9em;
}