.css {
  overflow-x: hidden;
  overflow-y: auto;

  @include vp-1024 {
    width: 100%;
    width: auto;
    max-height: 600px;
  }
  @include vp-768 {
    max-height: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    font-size: 14px;
    line-height: 1.2;
    font-family: $ff-monospace;

    @include vp-768 {
      font-size: 15px;
    }
  }

  &__class {
    color: $color-red;
  }

  &__declaration {
    margin-left: 18px;
  }

  &__property {
    color: $color-moody-blue;
  }

  &__bracket {
    margin-bottom: 20px;
  }

  &__union {
    color: $color-islamic-green;
  }
}
