.header {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 8px 20px;

  color: $color-white;

  background-color: $color-jewel;

  gap: 30px;

  &__logo {
    display: grid;
    align-items: center;
    margin-right: auto;

    line-height: 1;
    column-gap: 15px;

    grid-template-columns: repeat(2, auto);
    grid-template-areas: "title advantage_first" "title advantage_medium" "title advantage_last";
  }

  &__text {
    font-weight: bold;
    font-size: 34px;

    grid-area: title;
  }

  &__advantage {
    font-style: italic;
    font-size: 9px;
    color: $color-white-whisper;

    &--first {
      align-self: end;

      grid-area: advantage_first;
    }

    &--medium {
      grid-area: advantage_medium;
    }

    &--last {
      align-self: start;

      grid-area: advantage_last;
    }
  }

  &__link {
    display: grid;
    align-items: center;
    padding: 5px;

    line-height: 1;
    color: $color-white;
    column-gap: 10px;

    row-gap: 2px;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "icon name" "icon desc";

    &:hover,
    &:focus {
      .header__svg {
        transform: scale(1.2);
      }
    }
  }

  &__svg {
    transition: transform $trans-200 $ease-out;

    grid-area: icon;
  }

  &__link-name {
    grid-area: name;
  }

  &__link-desc {
    font-size: 9px;
    color: $color-white-whisper;

    grid-area: desc;
  }

  &__button {
    position: relative;

    display: block;
    width: 65px;
    height: 50px;
    padding: 0;
  }

  &__line {
    position: absolute;
    top: -1px;
    right: 0;
    bottom: 0;
    left: 0;

    width: 16px;
    height: 2px;
    margin: auto;

    background-color: $color-white;

    transition: transform $trans-200 $ease-out;

    &:first-child {
      transform: translateY(-5px);

      .is-open & {
        transform: rotate(45deg);
      }
    }

    &:last-child {
      transform: translateY(5px);

      .is-open & {
        transform: rotate(-45deg);
      }
    }

    .is-open & {
      &:not(:first-child):not(:last-child) {
        transform: scaleX(0);
      }
    }
  }
}
