.header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: 50px;
  margin: 0 auto;
  padding: 8px 20px;

  color: $color-white;

  background-color: $color-jewel;

  gap: 30px;
  @include vp-1920 {
    border-radius: 0 0 20px 20px;
  }
  @include vp-768 {
    position: fixed;
    z-index: 2;

    width: 100%;
    padding: 0 0 0 15px;
    padding-right: 0;

    box-shadow: 0 -1px 7px 0 rgba($color-black, 0.72);

    gap: 0;
  }

  &__logo {
    display: grid;
    align-items: center;
    margin-right: auto;

    line-height: 1;
    column-gap: 15px;

    grid-template-columns: repeat(2, auto);
    grid-template-areas: "title advantage_first" "title advantage_medium" "title advantage_last";
  }

  &__text {
    font-weight: bold;
    font-size: 34px;

    grid-area: title;
  }

  &__advantage {
    font-style: italic;
    font-size: 9px;
    color: $color-white-whisper;

    @include vp-768 {
      display: none;
    }

    &--first {
      align-self: end;

      grid-area: advantage_first;
    }

    &--medium {
      grid-area: advantage_medium;
    }

    &--last {
      align-self: start;

      grid-area: advantage_last;
    }
  }

  &__link {
    display: grid;
    align-items: center;
    padding: 5px;

    line-height: 1;
    color: $color-white;
    column-gap: 10px;

    row-gap: 2px;
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "icon name" "icon desc";
    @include vp-768 {
      justify-content: center;
      align-content: center;
      width: 50px;
      height: 50px;
      padding: 0;

      gap: 0;
      grid-template-columns: auto;
      grid-template-areas: none;

      &:not(:last-of-type) {
        margin-right: 5px;
      }
    }

    &:hover,
    &:focus {
      .header__svg {
        transform: scale(1.2);

        @include vp-768 {
          transform: scale(1);
        }
      }
    }
  }

  &__svg {
    transition: transform $trans-200 $ease-out;

    grid-area: icon;
    @include vp-768 {
      width: 32px;
      height: 32px;
    }
  }

  &__link-name {
    grid-area: name;
    @include vp-768 {
      display: none;
    }
  }

  &__link-desc {
    font-size: 9px;
    color: $color-white-whisper;

    grid-area: desc;
    @include vp-768 {
      display: none;
    }
  }

  &__button {
    display: none;

    @include vp-768 {
      position: relative;

      display: block;
      width: 65px;
      height: 50px;
      padding: 0;

      &::before,
      &::after,
      .header__line {
        content: "";
        position: absolute;
        top: -1px;
        right: 0;
        bottom: 0;
        left: 0;

        width: 35px;
        height: 5px;
        margin: auto;

        background-color: $color-white;
        border-radius: 2px;

        transition: transform $trans-200 $ease-out;
      }

      &::before {
        transform: translateY(-10px);

        .is-open & {
          transform: rotate(45deg);
        }
      }

      &::after {
        transform: translateY(10px);

        .is-open & {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__line {
    .is-open & {
      transform: scaleX(0);
    }
  }
}
