.overlay {
  visibility: hidden;

  @include vp-768 {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 150%;

    background-color: rgba($color-black, 0.65);
    opacity: 0;

    transition: opacity $trans-200 $ease-out,
      visibility $trans-0 $ease-out $trans-200;

    .is-open & {
      visibility: visible;
      opacity: 1;

      transition: opacity $trans-200 $ease-out,
        visibility $trans-0 $ease-out $trans-0;
    }
  }
}
