.parameters {
  @include vp-1024 {
    max-height: 1500px;
  }
  @include vp-768 {
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 2;

    height: calc(100% - 50px);

    background-color: $color-white;
    transform: translateX(280px);
    visibility: hidden;

    transition: transform $trans-200 $ease-out,
      visibility $trans-0 $ease-out $trans-200;

    .is-open & {
      transform: translateX(0);
      visibility: visible;

      transition: transform $trans-200 $ease-out,
        visibility $trans-0 $ease-out $trans-0;
    }
  }

  &__wrapper {
    padding: 5px 10px 10px 10px;

    background-color: $color-white;
    border: 1px solid $color-light-gray;
    border-radius: 5px;

    @include vp-768 {
      border: 0;
      border-radius: 0;
    }
  }

  &__fieldset {
    display: grid;

    border: 2px solid $color-silver;
    border-radius: 5px;

    grid-template-columns: 100px 1fr;
  }

  &__title {
    padding: 0 15px;
  }
}
