.section {
  padding: 5px 10px 10px 10px;

  background-color: $color-white;
  border: 1px solid $color-light-gray;
  border-radius: 5px;

  @include vp-768 {
    border: 0;
    border-top: 1px solid $color-light-gray;
    border-bottom: 1px solid $color-light-gray;
    border-radius: 0;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0 5px 5px 0;
  }
}
