.text {
  padding: 0 5px 5px 5px;

  font-size: 13px;
  text-indent: 10px;

  @include vp-768 {
    font-size: 15px;
  }

  &__code {
    padding: 0 3px;

    font-family: $ff-monospace;

    background-color: $color-white-smoke;
    border: 1px solid $color-light-gray;
    border-radius: 4px;
  }
}
