.title {
  margin: 0;
  margin-bottom: 15px;
  padding: 6px 0 10px 0;

  font-size: 18px;
  line-height: 1;
  font-family: $ff-tahoma;
  text-align: center;
  color: $color-charcoal;

  border-bottom: 1px dotted $color-light-gray;
}
