.container {
  display: grid;
  flex-grow: 1;
  max-width: 1920px;
  max-height: calc(100vh - 50px);
  margin: 0 auto;
  padding: 20px;

  gap: 20px;
  grid-template-columns: 272px minmax(290px, 0.6fr) minmax(300px, 1fr) 280px;
  grid-template-rows: minmax(300px, 1fr) auto;
  grid-template-areas: "parameters preview preview css" "parameters legend article css";
}
