.container {
  display: grid;
  flex-grow: 1;
  max-width: 1920px;
  height: calc(100vh - 50px);
  margin: 0 auto;
  padding: 20px;

  gap: 20px;
  grid-template-columns: 272px minmax(290px, 0.6fr) minmax(300px, 1fr) 280px;
  grid-template-rows: minmax(300px, 1fr) auto;
  grid-template-areas: "parameters preview preview css" "parameters legend article css";
  @include vp-1240 {
    height: auto;

    grid-template-columns: 272px minmax(400px, 1fr);
    grid-template-rows: auto 510px repeat(2, auto);
    grid-template-areas:
      "parameters preview"
      "parameters legend"
      "parameters article"
      "parameters css";
  }
  @include vp-768 {
    margin-top: 50px;
    padding-right: 0;
    padding-left: 0;

    column-gap: 0;

    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "preview" "legend" "article" "css";
  }
}
