.container {
  display: grid;
  flex-grow: 1;
  max-width: 1920px;
  height: calc(100vh - 50px);
  padding: 20px;

  gap: 20px;
  grid-template-columns: 272px minmax(290px, 0.6fr) minmax(300px, 1fr) 280px;
  grid-template-rows: minmax(300px, 1fr);
  grid-template-areas: "parameters preview preview css" "parameters legend article css";
  @include vp-1240 {
    height: auto;

    grid-template-columns: 272px minmax(400px, 1fr);
    grid-template-rows: 500px;
    grid-template-areas:
      "parameters preview"
      "parameters legend"
      "parameters article"
      "parameters css";
  }
  @include vp-768 {
    padding-right: 0;
    padding-left: 0;

    column-gap: 0;

    grid-template-columns: auto;
    grid-template-areas: "preview" "legend" "article" "css";
  }

  &--margin {
    margin: 0 auto;

    @include vp-768 {
      margin-top: 50px;
    }
  }

  &__parameters {
    box-sizing: content-box;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;

    background: none;
    border: 0;

    grid-area: parameters;
  }

  &__preview {
    grid-area: preview;
  }

  &__legend {
    grid-area: legend;
    @include vp-768 {
      padding-bottom: 20px;
    }
  }

  &__description {
    grid-area: article;
    @include vp-768 {
      padding-bottom: 20px;
    }
  }

  &__css {
    grid-area: css;
    @include vp-1024 {
      justify-self: stretch;
    }
  }

  &__overlay {
    display: none;

    visibility: hidden;

    @include vp-768 {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;

      display: block;
      width: 100%;
      height: 150%;

      background-color: rgba($color-black, 0.65);
      opacity: 0;

      transition: opacity $trans-200 $ease-out,
        visibility $trans-0 $ease-out $trans-200;

      .is-open & {
        visibility: visible;
        opacity: 1;

        transition: opacity $trans-200 $ease-out,
          visibility $trans-0 $ease-out $trans-0;
      }
    }
  }
}
