* {
  scrollbar-color: $color-mint-tulip $color-jewel;
  scrollbar-width: thin;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: $color-jewel;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-mint-tulip;
  border: 2px solid $color-jewel;
  border-radius: 4px;

  @include vp-768 {
    border-radius: 0;
  }
}

html {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  font-style: normal;
  font-weight: 400;
  font-size: $fz-default;
  line-height: $lh-default;
  font-family: $ff-open-sans;
  color: $color-black;

  scrollbar-gutter: stable;
  @include vp-768 {
    &.is-open {
      overflow-y: hidden;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;

  background-color: $color-white-smoke;
}

img {
  max-width: 100%;
  height: auto;

  object-fit: contain;
}

a {
  text-decoration: none;
}

button,
input,
select {
  font-size: inherit;
  font-family: inherit;

  background: none;
  border: none;
}

h2,
h3,
h4,
ul,
p,
fieldset {
  margin: 0;
}
