$fz-default: 15px;
$lh-default: 18px;
$ff-open-sans: "Open Sans", "Arial", sans-serif;
$ff-tahoma: "Tahoma", sans-serif;
$ff-monospace: monospace, sans-serif;

$color-black: #000000;
$color-charcoal: #444444;
$color-silver: #c0c0c0;
$color-light-gray: #d5d5d5;
$color-white-whisper: #e7e7e7;
$color-white-smoke: #f8f8f8;
$color-white: #ffffff;
$color-jewel: #00763d;
$color-mint-tulip: #cce8db;
$color-red: #ff0000;
$color-moody-blue: #8a7fc4;
$color-salmon: #ff7d7d;
$color-light-slate-blue: #7d8aff;

$vp-1920: 1920px;
$vp-1240: 1240px;
$vp-1024: 1024px;
$vp-768: 768px;
$vp-425: 425px;

$trans-0: 0s;
$trans-200: 0.2s;
$ease-out: ease-out;
