// GLOBAL
@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/reboot.scss";
@import "global/utils.scss";
@import "global/fonts.scss";
@import "global/container.scss";

// BLOCKS
@import "blocks/title.scss";
@import "blocks/button.scss";
@import "blocks/text.scss";
@import "blocks/header.scss";
@import "blocks/overlay.scss";
@import "blocks/section.scss";
@import "blocks/parameters.scss";
@import "blocks/preview.scss";
@import "blocks/axis.scss";
@import "blocks/legend.scss";
@import "blocks/css.scss";

.wrapper-parameters {
  position: relative;

  padding: 5px 10px 10px 10px;

  border-radius: 5px;
}

.wrapper-parameters:not(:last-child) {
  margin-bottom: 10px;
}

.elements-title {
  padding: 0 5px;

  font-weight: bold;
}

.element:focus {
  outline: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 5px;
  padding-bottom: 8px;
}

.main-fieldset {
  width: 250px;
}

.box-parent .element {
  max-width: 116px;
}

.label-title {
  flex-grow: 1;
  flex-basis: 105px;
}

.elements .label-title {
  flex-basis: 80px;
}

.elements .number,
.elements .select {
  flex-basis: 90px;
  max-width: 90px;
}

.input-parent {
  flex-grow: 3;
  flex-basis: 100px;
}

.elements,
.elements .item:not(:first-of-type) {
  margin-top: 15px;
}

.elements .select {
  margin-bottom: 10px;
}

.element {
  margin: 2px 0;

  font-family: inherit;
}

.number {
  padding-left: 5px;

  text-align: right;
}

.button-background {
  position: absolute;
  top: -18px;
  right: 7px;

  width: 30px;
  height: 20px;

  background-color: white;
}

.button-element {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  width: 20px;
  height: 20px;
  margin: auto;

  border: 0;
  cursor: pointer;
}

.button-element::before {
  position: absolute;
  top: 0;
  right: 0;

  width: 20px;
  height: 20px;

  background-size: contain;
}

.button-element.add::before {
  content: "";
  left: 0;

  background: #ffffff url("../images/plus.svg") no-repeat;
}

.button--remove::before {
  content: "";
  left: -1px;

  background: #ffffff url("../images/minus.svg") no-repeat;
}

.button-element[disabled]::before {
  background: #ffffff url("../images/plus_disabled.svg") no-repeat;
  cursor: not-allowed;
}

.result-box.general {
  margin: 4px 0 8px 0;
}

.result-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.result-item {
  display: flex;
  flex-basis: 40px;
  flex-direction: column;
  align-items: center;

  font-weight: bold;
  font-size: 13px;
}

.result-item output {
  font-weight: normal;
  font-size: 0.9em;
}

@media screen and (max-width: 768px) {
  input,
  select {
    height: 30px;
    padding-right: 5px;

    font-size: 16px;
  }

  .element {
    align-self: center;
  }

  .button-background.add {
    top: -24px;
    right: 7px;

    width: 33px;
    height: 30px;
  }

  .button-element.add {
    top: 3px;

    width: 25px;
    height: 25px;
  }

  .button-element.add::before {
    width: 25px;
    height: 25px;
  }
}
