* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  scrollbar-color: #cce8db #00763d;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #00763d;
}

*::-webkit-scrollbar-thumb {
  background-color: #cce8db;
  border: 2px solid #00763d;
  border-radius: 4px;
}

html {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

body {
  font-size: 14px;
  font-family: Verdana, Geneva, sans-serif;

  background-color: #f8f8f8;
}

input,
select {
  height: 22px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.main-container {
  display: grid;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;

  gap: 20px;
  grid-template-columns: 290px minmax(290px, 0.6fr) minmax(300px, 1fr) 300px;
  grid-template-rows: auto minmax(300px, 1fr) auto;
}

.wrapper-container {
  padding: 5px 10px 10px 10px;

  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
}

.wrapper-container::-webkit-scrollbar-track {
  border-radius: 0 5px 5px 0;
}

.pad {
  padding: 5px 10px 10px 10px;

  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px 15px 12px;

  color: white;

  background-color: #00763d;

  grid-column: 1 / -1;
  grid-row: 1;
}

.main-title {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding-top: 3px;

  font-weight: bold;
  font-size: 34px;
  line-height: 1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.site-advantage {
  margin-left: 15px;

  font-style: italic;
  font-weight: normal;
  font-size: 9px;
  color: #ffffffc9;
  white-space: pre-line;
}

.top-menu {
  display: none;
}

.contacts {
  position: relative;

  overflow: hidden;
}

.contacts:first-of-type {
  margin-right: 20px;
}

.contacts-link {
  display: block;
  height: 30px;
  padding-left: 35px;

  color: white;
  text-decoration: none;
}

.contacts-link::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;

  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
  background-size: contain;
}

.contacts-link::after {
  position: absolute;
  bottom: 3px;
  left: 35px;

  font-size: 9px;
  line-height: 1;
  color: #ffffffc9;
}

.github-link {
  width: 130px;
}

.github-link::before {
  background-image: url("../images/github.svg");
}

.github-link::after {
  content: "Страница проекта";
}

.mailto-link {
  width: 190px;
}

.mailto-link::before {
  background-image: url("../images/email.svg");
}

.mailto-link::after {
  content: "для предложений и замечаний";
}

.parameters {
  box-sizing: content-box;
  width: 272px;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;

  background: none;
  border: 0;
  border-radius: 0;

  grid-column: 1;
  grid-row: 2 / -1;
  justify-self: end;
}

.wrapper-parameters {
  position: relative;

  padding: 5px 10px 10px 10px;

  border-radius: 5px;
}

.wrapper-parameters:not(:last-child) {
  margin-bottom: 10px;
}

.elements-title {
  padding: 0 5px;

  font-weight: bold;
}

.element:focus {
  outline: none;
}

.preview {
  position: relative;

  padding: 32px 33px;
  overflow: hidden;

  grid-column: 2 / -2;
  grid-row: 2;
}

.article {
  font-size: 12px;
}

.legend {
  grid-column: 2;
  grid-row: 3;
}

.description {
  grid-column: 3;
  grid-row: 3;
}

.css-box {
  width: 280px;
  overflow-x: hidden;
  overflow-y: auto;

  cursor: text;

  grid-column-end: -1;
  grid-row: 2 / -1;
  justify-self: left;
}

.title-h2 {
  margin-bottom: 15px;
  padding: 2px 0 7px;

  font-size: 18px;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  color: #444444;

  border-bottom: 1px dotted #c0c0c0;
}

.article-text {
  padding: 0 5px 5px 5px;

  text-indent: 10px;
}

.css-box-title {
  margin-bottom: 5px;
}

.css-styles {
  display: block;
  padding: 0 5px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 5px;
  padding-bottom: 8px;
}

.main-fieldset {
  width: 250px;
}

.box-parent .element {
  max-width: 116px;
}

.label-title {
  flex-grow: 1;
  flex-basis: 105px;
}

.elements .label-title {
  flex-basis: 80px;
}

.elements .number,
.elements .select {
  flex-basis: 90px;
  max-width: 90px;
}

.input-parent {
  flex-grow: 3;
  flex-basis: 100px;
}

.elements,
.elements .item:not(:first-of-type) {
  margin-top: 15px;
}

.elements .select {
  margin-bottom: 10px;
}

.element {
  margin: 2px 0;

  font-family: inherit;
}

.number {
  padding-left: 5px;

  text-align: right;
}

.button-background {
  position: absolute;
  top: -18px;
  right: 7px;

  width: 30px;
  height: 20px;

  background-color: white;
}

.button-element {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  width: 20px;
  height: 20px;
  margin: auto;

  border: 0;
  cursor: pointer;
}

.button-element::before {
  position: absolute;
  top: 0;
  right: 0;

  width: 20px;
  height: 20px;

  background-size: contain;
}

.button-element.add::before {
  content: "";
  left: 0;

  background: #ffffff url("../images/plus.svg") no-repeat;
}

.button--remove::before {
  content: "";
  left: -1px;

  background: #ffffff url("../images/minus.svg") no-repeat;
}

.button-element[disabled]::before {
  background: #ffffff url("../images/plus_disabled.svg") no-repeat;
  cursor: not-allowed;
}

.result-box.general {
  margin: 4px 0 8px 0;
}

.result-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.result-item {
  display: flex;
  flex-basis: 40px;
  flex-direction: column;
  align-items: center;

  font-weight: bold;
  font-size: 13px;
}

.result-item output {
  font-weight: normal;
  font-size: 0.9em;
}

.preview-border {
  position: relative;

  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  max-height: 600px;
  margin: auto;
}

.arrow {
  position: absolute;
  z-index: 10;

  display: flex;
  align-items: center;
}

.horizontal-arrow {
  right: 0;
  left: 0;

  width: 100%;
  height: 22px;
}

.horizontal-arrow.arrow-top {
  top: -26px;
}

.horizontal-arrow.arrow-bottom {
  bottom: -28px;
}

.horizontal-arrow::before {
  content: "";
  position: absolute;
  right: 10px;

  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.horizontal-arrow.arrow-top::before {
  bottom: 1px;
}

.horizontal-arrow.arrow-bottom::before {
  top: 1px;
}

.horizontal-arrow::after {
  content: "";
  position: absolute;
  left: 16px;

  width: calc(100% - 45px);
}

.horizontal-arrow.arrow-top::after {
  bottom: 4px;
}

.horizontal-arrow.arrow-bottom::after {
  top: 4px;
}

.arrow-title {
  position: absolute;
  right: 0;
  left: 0;

  font-weight: bold;
  font-size: 13px;
  vertical-align: bottom;
  text-align: center;
}

.horizontal-arrow.row-reverse {
  transform: scale(-1, 1);
}

.horizontal-arrow.row-reverse .arrow-title {
  transform: scale(-1, 1);
}

.horizontal-arrow.main-coord::before {
  border-left: 30px solid #ff7d7d;
}

.horizontal-arrow.cross-coord::before {
  border-left: 30px solid #7d8aff;
}

.horizontal-arrow.main-coord::after {
  border-bottom: 2px solid #ff7d7d;
}

.horizontal-arrow.cross-coord::after {
  border-bottom: 2px solid #7d8aff;
}

.horizontal-arrow.arrow-top .arrow-title {
  top: -2px;
}

.horizontal-arrow.arrow-bottom .arrow-title {
  bottom: 1px;
}

.main-coord .arrow-title {
  color: #ff7d7d;
}

.cross-coord .arrow-title {
  color: #7d8aff;
}

.vertical-arrow {
  top: 0;
  bottom: 0;

  width: 22px;
  height: 100%;
}

.vertical-arrow .arrow-title {
  width: 14px;

  -ms-writing-mode: tb-lr;

  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
}

.vertical-arrow.arrow-left .arrow-title {
  transform: rotate(-180deg);
}

.vertical-arrow.arrow-right .arrow-title {
  left: 8px;
}

.vertical-arrow.arrow-left {
  left: -27px;
}

.vertical-arrow.arrow-right {
  right: -27px;
}

.vertical-arrow.column-reverse {
  transform: scale(1, -1);
}

.vertical-arrow.column-reverse.arrow-left .arrow-title {
  transform: rotate(180deg) scale(1, -1);
}

.vertical-arrow.column-reverse.arrow-right .arrow-title {
  transform: rotate(0deg) scale(1, -1);
}

.vertical-arrow::before {
  content: "";
  position: absolute;
  bottom: 10px;

  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.vertical-arrow.arrow-left::before {
  right: 0;
}

.vertical-arrow.arrow-right::before {
  left: 0;
}

.vertical-arrow::after {
  content: "";
  position: absolute;
  top: 12px;

  height: calc(100% - 40px);
}

.vertical-arrow.arrow-left::after {
  right: 3px;
}

.vertical-arrow.arrow-right::after {
  left: 3px;
}

.vertical-arrow.main-coord::before {
  border-top: 30px solid #ff7d7d;
}

.vertical-arrow.cross-coord::before {
  border-top: 30px solid #7d8aff;
}

.vertical-arrow.main-coord::after {
  border-left: 2px solid #ff7d7d;
}

.vertical-arrow.cross-coord::after {
  border-left: 2px solid #7d8aff;
}

.preview-box {
  box-sizing: content-box;
  width: 100%;
  min-width: 240px;
  height: calc(100% - 10px);
  padding: 5px;
  overflow: hidden;

  border: 1px dashed #c0c0c0;
  border-radius: 5px;

  counter-reset: section;
}

.flexbox-item {
  position: relative;

  box-sizing: border-box;
  min-width: 50px;
  min-height: 50px;
  overflow: hidden;

  list-style: none;
  text-align: center;

  background-color: #00763d73;
  border: 1px solid #00763d;
}

.flexbox-item::before {
  content: "" counter(section) "";
  position: absolute;
  top: 5px;
  left: 5px;

  width: 25px;
  height: 25px;
  margin: auto;

  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #00763d;

  background-color: white;
  border-radius: 50%;

  counter-increment: section;
}

.legend-list {
  padding: 0 10px 5px 10px;

  list-style: none;
}

.overlay {
  visibility: hidden;
}

@media screen and (min-width: 1921px) {
  .main-header {
    border-radius: 0 0 20px 20px;
  }
}

@media screen and (max-width: 1240px) {
  .main-container {
    grid-template-columns: 290px minmax(170px, 1fr) minmax(170px, 1fr) 300px;
    grid-template-rows: auto 500px auto auto;
  }

  .parameters {
    max-height: 1500px;
  }

  .preview {
    margin-right: 20px;

    grid-column: 2 / -1;
    grid-row: 2;
  }

  .legend {
    margin-bottom: 0;

    grid-column: 2 / 4;
    grid-row: 3;
  }

  .description {
    grid-column: 2 / 4;
    grid-row: 4;
  }

  .css-box {
    grid-column-end: -1;
    grid-row: 3 / -1;
  }
}

@media screen and (max-width: 1024px) {
  .main-container {
    height: auto;

    grid-template-columns: 290px minmax(400px, 1fr);
    grid-template-rows: auto 510px auto auto auto;
  }

  .legend {
    margin-right: 20px;
    margin-bottom: 0;

    grid-column: 2 / -1;
    grid-row: 3;
  }

  .description {
    margin-right: 20px;
    margin-bottom: 0;

    grid-column: 2 / -1;
    grid-row: 4;
  }

  .css-box {
    width: 100%;
    width: auto;
    max-height: 600px;
    margin-right: 20px;

    grid-column: 2 /-1;
    grid-row: 5;
    justify-self: stretch;
  }
}

@media screen and (max-width: 768px) {
  *::-webkit-scrollbar-track {
    border-radius: 0 !important;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
  }

  html.is-open {
    overflow-y: hidden;
  }

  input,
  select {
    height: 30px;
    padding-right: 5px;

    font-size: 16px;
  }

  .main-container {
    -moz-column-gap: 0;
    column-gap: 0;

    grid-template-columns: auto;
  }

  .wrapper-container {
    border: 0;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    border-radius: 0;
  }

  .main-header {
    position: fixed;
    z-index: 300;

    width: 100%;
    padding: 0 0 0 15px;

    box-shadow: 0 -1px 7px 0 #000000b8;
  }

  .top-menu {
    display: block;
    width: 65px;
    height: 50px;
    padding: 0 !important;

    cursor: pointer;
  }

  .menu {
    top: 23px;
    right: 13px;
    bottom: 0;

    width: 35px;
  }

  .menu,
  .menu::after,
  .menu::before {
    content: " ";
    position: absolute;
    right: 17px;

    width: 35px;
    height: 5px;

    background-color: #ffffff;
    border-radius: 2px;

    transition: all 0.2s ease-in-out;
  }

  .menu::before {
    top: -10px;
    right: 0;
  }

  .menu::after {
    right: 0;
    bottom: -10px;
  }

  .is-open .menu {
    right: 28px;

    width: 0;
  }

  .is-open .menu::before {
    top: 0;
    right: -12px;

    transform: rotate(45deg);
  }

  .is-open .menu::after {
    right: -12px;
    bottom: 0;

    transform: rotate(-45deg);
  }

  .contacts {
    margin-right: 3px !important;
  }

  .contacts.github {
    margin-right: 5px !important;
  }

  .contacts-link {
    width: 50px;
    height: 50px;
    padding-left: 51px;
  }

  .contacts-link::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 32px;
    height: 32px;
    margin: auto;
  }

  .contacts-link::after {
    display: none;
  }

  .parameters {
    position: fixed;
    top: 50px;
    right: -280px;
    z-index: 100;

    height: calc(100% - 50px);
    max-height: none;

    background-color: #ffffff;
    border: 0;
    visibility: hidden;

    transition: right 0.3s ease-in-out, visibility 0s ease-in-out 0.3s;

    grid-column: none;
    grid-row: none;
  }

  .is-open .parameters {
    right: 0;

    visibility: visible;

    transition: right 0.3s ease-in-out, visibility 0s ease-in-out 0s;
  }

  .element {
    align-self: center;
  }

  .button-background.add {
    top: -24px;
    right: 7px;

    width: 33px;
    height: 30px;
  }

  .button-element.add {
    top: 3px;

    width: 25px;
    height: 25px;
  }

  .button-element.add::before {
    width: 25px;
    height: 25px;
  }

  .pad {
    border: 0;
    border-radius: 0;
  }

  .preview,
  .legend,
  .css-box {
    margin: 0;
  }

  .preview {
    margin-top: 50px;

    grid-column: 1;
    grid-row: 2;
  }

  .legend {
    grid-column: 1;
    grid-row: 3;
  }

  .article {
    padding-bottom: 20px;

    font-size: 14px;
  }

  .article .title-h2 {
    margin-bottom: 20px;
  }

  .description {
    margin-right: 0;

    grid-column: 1;
    grid-row: 4;
  }

  .css-box {
    max-height: none;

    grid-column: 1;
    grid-row: 5;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 150%;

    background-color: #000000a6;
    visibility: hidden;
    opacity: 0;

    transition: opacity 0.3s ease-in-out, visibility 0s ease-in-out 0.3s;
  }

  .is-open .overlay {
    visibility: visible;
    opacity: 1;

    transition: opacity 0.3s ease-in-out, visibility 0s ease-in-out 0s;
  }
}

@media screen and (max-width: 425px) {
  .site-advantage {
    width: 0;

    visibility: hidden;
  }
}
